log/
runs/
dump/
pretrained_model/
__pycache__/

pointnet2/build/
pointnet2/dist/
pointnet2/pointnet2.egg-info/

scannet/scans_transform/
scannet/scans_transform
scannet/scannet_planes/ 
scannet/scannet_planes
scannet/scans/
scannet/scans
scannet/scannet_train_detection_data/
scannet/scannet_train_detection_data
scannet/scannet_train_detection_data_normals/
scannet/scannet_train_detection_data_normals

scannet/scannet_train_layout_data_points/
scannet/tmp/
scannet/tmp.txt

ARKitScenes/dataset/3dod/
ARKitScenes/dataset/3dod

wandb/
**.pyc

.idea/
.vscode/
test_label_*.txt
*.tar.gz
*.png
!docs/teaser.png


statistics/
statistics_*/
stats*/
scannet/buffer.TXT
tmp.txt

pointnet2/build_/
scannet/scans_test/
